.CardContainer{
    display: flex;
    align-items: end;
    font-family: var(--font-poppins);
    gap: 5px;
}

.Container{
    background: white;
    width: 300px;
    border-radius: 10px;
    padding: 0px 0px 5px 0px;
}

.imageContainer{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.imageContainer > img:first-child{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.unknownContainer,
.ripContainer{
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--CrimsonRedTransparent);
}

.unknownContainer > img,
.ripContainer > img{
    width: 50%;
    height: 50%;
}

.unknownContainer{
    background-color: var(--GrayTransparent);
}

.Species{
    position: absolute;
    z-index: 2;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    color: var(--NeonGreen);
    padding: 4px;
    line-height: 19px; 
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    border: 2px solid var(--background);
    background: var(--backgroundTransparent);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    right: 7px;
    top: 7px;
}

.information{
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 5px solid var(--background);
}

.information > p{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-geist-mono);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information > p > span{
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: 16;
}

.GenderOrigin{
    display: flex;
    flex-direction: column;
}

.GenderOrigin > span{
    font-size: 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-geist-mono);
}

.GenderOrigin > span > span{
    font-weight: 600;
    font-family: var(--font-poppins);
}

.GenderOrigin > span:nth-child(2) > span{
    font-size: 12;
}


.CardContainer:hover .ripContainer,
.CardContainer:hover .unknownContainer {
    display: none;
}
